#texto h1{
    font-size: 2em;
}
#texto{
    font-size: 1.2em;
    text-align: center;
}

#personagens{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    'area1 imagem2 imagem2';
}
a{
    color: rgb(231, 226, 199);
}

.imagem{
    height: 16em;
    width: 30em;
    image-rendering: pixelated;
    padding: 0.6em 0.3em;
}

@media (max-width: 768px){
    .imagem{
        height: 10em;
        width: 90%;
    }
}

@media (max-width: 360px){
    .imagem{
        height: 6em;
        width: 100%;
    }
}