body{
    margin: 0;
    background-image: url(SoC1.png);
    background-repeat: no-repeat;
    background-size: auto;

}

#site{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-area: "topo topo"
    "meio meio";
}

p{
    color: rgb(231, 226, 199);
    border: 1px solid;
    margin: 2em;
    box-shadow: 10px 3px 10px black;
    background-color: rgba(0, 0, 0, 0.7);
    height: 90%;
    grid-area: "meio";
    padding: 2em;
    font-size: 30px;
}

h1{
    color: rgb(52,63,57);
    margin: 0.5em 1em;
    grid-area: "topo";
}

#textoInicial{
    grid-area: "topo";
}

.menu{
    color: rgb(211, 213, 189);
    background-color: rgb(65, 79, 71);
    display: inline-block;
    margin: 1em;
    grid-area: "topo";
}